@model RealEstateVehiclePlatform.WebUI.ViewModels.City.CreateCityViewModel

@{
    ViewData["Title"] = "Yeni Şehir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="admin-card">
    <div class="mb-4">
        <h4 class="fw-bold">Yeni Şehir</h4>
        <small class="text-muted">Sisteme yeni şehir ekleyebilirsiniz.</small>
    </div>

    <form asp-action="Create" method="post">
        <div class="mb-4">
            <label class="form-label fw-semibold">Şehir Adı</label>
            <input asp-for="Name" class="form-control form-control-lg" />
        </div>

        <div class="d-flex gap-2">
            <button class="btn btn-primary">
                <i class="bi bi-check-circle"></i>
                Kaydet
            </button>

            <a href="/AdminCity" class="btn btn-light">
                Vazgeç
            </a>
        </div>
    </form>
</div>